<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p> Look through all the links </p>
</div>


<% @links.each do |link| %>
  <div class="row">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></small>
    </h2>
  </div>
<% end %>